body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3aafa9;
}
svg {
    background-color: wheat;
    box-shadow: 0 3 15 black;
    border-radius:  5px;
    padding: 10px;
}
.bar {
    background-color: #287a78;
    border-color: #287a78;
    fill: #287a78;
}
.bar:hover {
    fill: #17252a;
}
g {
    color:#17252a
}
#tooltip {
    margin-top: 10px;
    color: #feffff;
    font-size: 20px;
}
title {
    font-size: 30px;
    fill: #17252a;
}